#loading-bg {
  background-color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.loading-logo {
  position: absolute;
  left: calc(50% - 43px);
  top: 40%;
}
.loading {
  position: absolute;
  left: calc(50% - 35px);
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
}
.effects {
  transition: all 0.3s ease;
}
.effect-1 {
  animation: rotate 1s linear infinite;
  border-top: 3px solid #696cff;
}
.effect-2 {
  animation: rotateOpacity 1.2s linear infinite;
  border-top: 3px solid #696cff;
}
.effect-3 {
  animation: rotateOpacity 1.5s linear infinite;
  border-top: 3px solid #696cff;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes rotateOpacity {
  0% { transform: rotate(0deg); opacity: 0.1; }
  50% { transform: rotate(180deg); opacity: 1; }
  100% { transform: rotate(360deg); opacity: 0.1; }
}
